.form__name,
.form__tel,
.form__address,
.form__comment,
.form__send
  padding: 1rem
  color: #ffffff

.form__name--text,
.form__name--input,
.form__tel--text,
.form__tel--input,
.form__address--text,
.form__address--input
  float: left
  display: inline-block

.form__name--text,
.form__tel--text,
.form__address--text,
.form__comment--text
  padding-right: 0.5rem

.form__name--text
  margin-left: 0.5rem
  color: #ffffff

.form__address
  padding:
    top: 2rem
    bottom: 2rem

.remodal
  background-color: rgba(0,0,0,0.7)

.form__send
  border: 1px solid #fff
  border-radius: 10px
  margin: 0 auto

.aaa
  width: 100%

.form__address--input
  width: 90%