.remodal(data-remodal-id='modal')
  button.remodal-close(data-remodal-action='close')
  form(data-form='')
    .row
      .columns.small-12
        select(name='type')
          option 690 рублей 1 чаша 1,5 часа
          option 950 рублей 2 чаши 2 часа
          option 1200 рублей 3 чаши 5 часов
          option 1650 рублей 5 чаш на ночь
          option 1950 рублей 5 чаш за город
    .row.align-center
      .columns.small-12.medium-6
        .form__name
          .form__name--text
            label(for='name') Имя
          .form__name--input
            input#name(name='name', required, type="text")
      .columns.small-12.medium-6 
        .form__tel
          .form__tel--text
            label(for='phone') Телефон
          .form__tel--input
            input#phone(name='phone', required, type="text")
    .row.align-center
      .columns.small-12
        .form__address
          .form__address--text
            label(for='address') Адрес
          .form__address--input
            input#address.aaa(name='address', type="text")
    .row
      .columns.small-12
        .form__comment
          .form__comment--text
            label(for='comment') Комментарий
          .form__comment--input
            textarea#comment.aaa(name='comment', type="text")
    .row.align-center
      .columns.small-12.medium-6
        button.form__send(type='submit') Отправить

