.remodal(data-remodal-id='modal-error')
  button.remodal-close(data-remodal-action='close')
  h1 Возникла ошибка
  p
    | Попробуйте повторить позднее или сделайте заказ по телефону: 
    a(href="tel:+78432532430")
      | 253-24-30

