extends layouts/main.jade

block content
  .header-main
    .row
      .columns.small-12.large-3
        .header-main__logo
          img(src='/img/logo.png')
      .columns.small-12.medium-6
        h1.header-main__title ДОСТАВКА КАЛЬЯНА В КАЗАНИ
        button.header-main__button.text-center(data-remodal-target="modal")
          | ЗАКАЗАТЬ КАЛЬЯН
    .row.align-center
      .columns.small-12.medium-4
        .header-main__list
          .header-main__text
            .header--main__icon
              img(src='/img/icon1.png')
            .header--main__subtitle
              p| 60 минут - доставка
          
          .header-main__text
            .header--main__icon
              img(src='/img/icon5.png')
            .header--main__subtitle
              p| 690 рублей - стоимость
          
          .header-main__text
            .header--main__icon
              img(src='/img/icon4.png')
            .header--main__subtitle
              p| Пн-Чт, Вс 15:00 - 01:00
          
          .header-main__text
            .header--main__icon
              img(src='/img/icon4.png')
            .header--main__subtitle
              p| Пт-Сб 15:00 - 03:00
          
          .header-main__text
            .header--main__icon
              img(src='/img/icon2.png')
            .header--main__subtitle
              p| Пн-Пт до 19:00 - 10% скидка
          
          .header-main__text
            .header--main__icon
              img(src='/img/icon3.png')
            .header--main__subtitle
              p| Телефон - 253-24-30

    .row.align-center
      .columns.small-12.medium-1
        button.header-main__vk
          a(href= "https://vk.com/home__hookah", target= '_blank')
            img(src='/img/vk_logo.png')
      .columns.small-12.medium-1
        button.header-main__instagram
          a(href= "https://www.instagram.com/homehookahkzn/", target= '_blank')
            img(src='/img/instagram_logo.png')








