extends layouts/main.jade

block content
  .header-main
    .row
      .columns.small-12.large-3
        .header-main__logo
          img(src='/img/logo.png')
      .columns.small-12.large-6.large-9
        h1.header-main__title Доставка кальяна<br> в Казани
        button.header-main__button.text-center
          | Оставить заявку онлайн
    .row.align-center
      .columns.small-12.medium-6
        .header-main__text
          p
            | 🚗 60 минут - доставка
          p
            | 💲 690 рублей - стоимость
          p
            | ⏳ Пн-Чт, Вс 15:00 - 01:00
          p
            | ⏳ Пт-Сб 15:00 - 03:00
          p
            | 💰 Вс-Чт 10% скидка
        .header-main__tel
          p
            | 📞 Телефон - 253-24-30
    .row.align-center
      .columns.small-12.medium-6
        p.header-main__text
