<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name="viewport")
    link(rel="stylesheet", href="css/style.css")
    title Home hookah
  body
    include ../partials/topbar.jade
    main
      block content
    include ../partials/footer.jade
    include ../partials/remodal.jade
    include ../partials/remodal-success.jade
    include ../partials/remodal-error.jade

    script(src="/js/app.js")